week-3/assignments/activity-1.dtd

<!DOCTYPE products
[
<!ELEMENT products (product+)>
<!ELEMENT product (productName,manufacturer,description?,prices,productItems)>
<!ATTLIST product
  createdAt NMTOKEN #REQUIRED
  shippable NMTOKEN #REQUIRED
  sku NMTOKEN #REQUIRED>
<!ELEMENT productName (#PCDATA)>
<!ELEMENT manufacturer (#PCDATA)>
<!ATTLIST manufacturer id NMTOKEN #REQUIRED>
<!ELEMENT description (#PCDATA)>
<!ELEMENT prices (price+)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT productItems (#PCDATA)>
]>